# Test results of Leeson 10
## CountFactors
### 2019-09-28
- Result  
71%
- URL  
https://app.codility.com/demo/results/trainingA5VG3J-UPQ/

## MinPerimeterRectangle
### 2019-09-29
- Result  
90%
- URL  
https://app.codility.com/demo/results/training3GD6KU-8HW/