# Test results of Leeson 10
## CountFactors
### 2019-09-28
- Result  
71%
- URL  
https://app.codility.com/demo/results/trainingA5VG3J-UPQ/
### 2019-09-29
- Result  
100%
- URL  
https://app.codility.com/demo/results/training8N9TFF-Z25/
## MinPerimeterRectangle
### 2019-09-29
- Result  
90%
- URL  
https://app.codility.com/demo/results/training3GD6KU-8HW/
### 2019-09-29
- Result  
100%
- URL  
https://app.codility.com/demo/results/trainingUJD39V-3EX/