# Test results
## Leeson 10

### CountFactors
#### 2019-09-28
- Result  
71%
- URL  
https://app.codility.com/demo/results/trainingA5VG3J-UPQ/