# Test results
## Leeson 9

---

### MaxProfit
#### 2019-09-08
- Result  
66%
- URL  
https://app.codility.com/demo/results/training4P47VN-3FU/

#### 2019-09-23  
- Result  
55%
- URL  
https://app.codility.com/demo/results/training7HCFAG-GRU/

#### 2019-09-23  
- Result  
100%
- URL  
https://app.codility.com/demo/results/trainingN8X3GN-AM8/

---

### MaxSliceSum
#### 2019-09-23
- Result  
30%
- URL  
https://app.codility.com/demo/results/trainingK89WHY-EGM/

#### 2019-09-24
- Result  
30%
- URL  
https://app.codility.com/demo/results/trainingJNZ52K-7TV/

#### 2019-09-25
- Result  
100%
- URL  
https://app.codility.com/demo/results/trainingPQAPZC-U4H/