# Test results
## Leeson 9
### MaxProfit
2019-09-08
https://app.codility.com/demo/results/training4P47VN-3FU/